{% extends 'layout.html' %}

{% block body %}
	<div class="row">
		<div class="col-xl-4">
			<ul class="sidebar-links">
				<li><a href="/">Bank Balances</a></li>
  				<li><a href="/">Transfer</a></li>
 				<li><a href="/">Pay</a></li>
			</ul>
		</div>

		<div class="col-xl-8">
			<h1>Account Transactions</h1>
           
			<table class="table table-hover">
			    <thead>
			      <tr>
			        <th>Date</th>
			        <th>Description</th>
			        <th>Amount</th>
			        <th>Balance</th>
			      </tr>
			    </thead>
			    <tbody>

			    	<!--
			    	iterate through the transactions and display the contents of each transaction 
			    	in a table 
			    	 -->
			    	{% for transact in transactions %}
			    		<tr>
			    			<td>{{transact.Date}}</td>
			    			<td>{{transact.Description}}</td>
			    			<td>{{transact.Amount}}</td>
			    			<td>{{transact.Balance}}</td>
			    		</tr>
			    	{% endfor %}

			    </tbody>
		 	</table>
		</div>
	</div>

{% endblock %}