{% extends 'layout.html' %}

{% block body %}

	{% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message[1] }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	  <!-- Brand/logo -->
	  <a class="navbar-brand" href="/">Ultimate Bank</a>
	  
	  <!-- Links -->
	  <ul class="navbar-nav ml-auto">
	    <li class="nav-item">
	      <a class="nav-link" href="/">Welcome Dominic</a>
	    </li>
	  </ul>
	</nav>

	<div class="row">
		<div class="col-lg-2 sidebar-colour">
			<ul class="sidebar-links" >
				<li ><a href="/">Bank Balances</a></li>
  				<li><a href="/">Transfer</a></li>
 				<li><a href="/">Pay</a></li>
			</ul>
		</div>

		<div class="col-lg-10">
			<h1 id="transact-heading">Account Transactions</h1>
           
			<table class="table table-striped">
			    <thead>
			      <tr>
			        <th>Date</th>
			        <th>Description</th>
			        <th>Amount</th>
			        <th>Balance</th>
			      </tr>
			    </thead>
			    <tbody>

			    	<!--
			    	iterate through the transactions and display the contents of each transaction 
			    	in a table 
			    	 -->
			    	{% for transact in transactions %}
			    		<tr>
			    			<td>{{transact.Date}}</td>
			    			<td>{{transact.Description}}</td>
			    			<td>{{transact.Amount}}</td>
			    			<td>{{transact.Balance}}</td>
			    		</tr>
			    	{% endfor %}

			    </tbody>
		 	</table>

		 	<form action = "/" method = POST>
	         <fieldset>
	            <legend>New Transaction</legend>
	            {{ form.hidden_tag() }}
	            
	            <table>
			    <thead>
			      <tr>
			        <th>{{ form.date.label }}</th>
			        <th>{{ form.description.label }}</th>
			        <th>{{ form.amount.label }}</th>
			 
			      </tr>
			    </thead>
			    <tbody>
			    		<tr>
			    			<td> {{ form.date }}</td>
			    			<td>{{ form.description}}</td>
			    			<td>{{ form.amount}}</td>
			    		</tr>
			    </tbody>
		 	</table>
	            {{ form.submit }}
	         </fieldset>
	      </form>
		</div>
	</div>

	

{% endblock %}